
.myTable th.headerSortDown { 
    background: #CCE6FF url(http://tablesorter.com/themes/blue/bg.gif) no-repeat 90%;
} 

.myTable th.headerSortUp {  
    background: #CCE6FF url(http://tablesorter.com/themes/blue/bg.gif) no-repeat 90%;
}

body {
	background-color: #E8E8E8;
    margin: 0;
    padding: 0;
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 840px;

}

.myTable th {
	text-decoration: ;
    background: url(http://tablesorter.com/themes/blue/bg.gif) no-repeat 90%;
}


.table-title {
    height: 85px;
    font-family: Trebuchet MS;
	text-indent: ;
	text-decoration: ; 
	margin-bottom: 40px;
	font-size: 10pt;
	margin-left: auto;
	margin-right: auto;
    background-color: ;
    padding: 1px;
    width: 100%;


/* outer shadows  (note the rgba is red, green, blue, alpha) */
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 1); 
    -moz-box-shadow: 0px 1px 3px rgba(23, 69, 88, 1);


/* gradients */
    background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%, white), color-stop(10%, white), color-stop(100%, #f5f5f5)); 
    background: -moz-linear-gradient(top, white 0%, white 55%, #f5f5f5 130%); 
}


.table-title h1 {
    margin-top: 15px;
    margin-bottom: 0px;
    color: #2E2E2E;
    width: 860px;
    margin-left: auto;
    margin-right: auto;
}

.table.title h3, span {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #2E2E2E;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.myTable td {
	border-right: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 3px;
}

.myTable th {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
    padding: 4px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

#table-head {
    font-family: Trebuchet MS;
    background-color: #E8E8E8;
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
    width: ;
    text-align: center;
    text-decoration: ;
}

#table-head th {
   padding: 3px;
}


.tablesorter {
    font-family: Trebuchet MS;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
    width: ;
    text-align: center;

    box-shadow: 2px 2px 2px 2px #888888;
}


#container {
    min-height: 100%;
    position: relative;
}

#content {
    padding-bottom: 368px;
}

#footer {
    text-align: center;
    font-size: 10pt;
    font-family: Trebuchet MS;
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 25px;
}

/*.myTable tr:nth-child(odd) {background: #ebebeb}
/*.myTable tr:nth-child(even) {background: #FFF}
