<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/static/js/javascript.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/pods.css">
        <title>Pod Summary</title>
    </head>
    <body>
     <div id="container">
       <div id="content">
        <div class="table-title" style="height:60px">
    	   <h1 style="margin-top:20px">Overview</h1>
           <div style="width:840px;margin:auto">
            <p style="float:right;margin-top:-20px;font-size:10pt"><a href="{{ url_for('suffolk_pods') }}">Suffolk Pods</a> | <a href="{{ url_for('nassau_pods') }}">Nassau Pods</a> </p>
           </div>
           <div style="width:840px;margin:auto">
           </div>
        </div>
         <table class="table-head tablesorter2">
                <head>
                        <th style="width:194px;color:red;border-right: 1px solid #dddddd">OVERVIEW</th>
                        <th style="width:320px;font-size:12pt;border-right: 1px solid #dddddd">YESTERDAY</th>
                        <th style="width:321px;font-size:12pt;border-right: 1px solid #dddddd">THIS WEEK</th>
                </head>
            </table>
            <table class="tablesorter myTable" style="margin-bottom:0px">
                <thead>
                    <tr>
                        <th style="text-align:left;text-indent:35px;width:204px">Office</th>
                        <th style="width:107px">Sets</th>
                        <th style="width:107px">Sits</th>
                        <th style="width:107px">Sales</th>
                        <th style="width:107px">Sets</th>
                        <th style="width:107px">Sits</th>
                        <th style="width:107px">Sales</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;text-indent:35px">Suffolk</td>
                        <td>{{ info["suffolk"]["sets_today"] }}</td>
                        <td>{{ info["suffolk"]["sits_today"] }}</td>
                        <td>{{ info["suffolk"]["sales_today"] }}</td>
                        <td>{{ info["suffolk"]["sets_tw"] }}</td>
                        <td>{{ info["suffolk"]["sits_tw"] }}</td>
                        <td>{{ info["suffolk"]["sales_tw"] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;text-indent:35px">Nassau</td>
                        <td>{{ info["nassau"]["sets_today"] }}</td>
                        <td>{{ info["nassau"]["sits_today"] }}</td>
                        <td>{{ info["nassau"]["sales_today"] }}</td>
                        <td>{{ info["nassau"]["sets_tw"] }}</td>
                        <td>{{ info["nassau"]["sits_tw"] }}</td>
                        <td >{{ info["nassau"]["sales_tw"] }}</td>
                    </tr>
                </tbody>
            </table>
            <table class="table-head tablesorter2">
                <thead>
                    <tr>
                        <th style="text-align:left;text-indent:35px;width:199px;font-weight:bold;border-top:0px">Total</th>
                        <th style="width:107px;text-indent:1px">{{ info["total"]["sets_today"] }}</th>
                        <th style="width:107px">{{ info["total"]["sits_today"] }}</th>
                        <th style="width:107px">{{ info["total"]["sales_today"] }}</th>
                        <th style="width:107px">{{ info["total"]["sets_tw"] }}</th>
                        <th style="width:107px">{{ info["total"]["sits_tw"] }}</th>
                        <th style="width:107px;text-indent:-2px">{{ info["total"]["sales_tw"] }}</th>
                </thead>
            </table>
      </div>
    </body>
</html>
